body {
  background-image: url(../img/light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 2;
  padding: 2;
  font-family: Arial;
}
form {
  color:white;
}

.absolute {
  position:absolute;

}

h1, h3, table {
  color: white;
  display:flex;
  justify-content: center;
}
th, tr {
  font-size: 1.9em;
}
.ground {
  background-color: black;
  width: 350px;
}
.thoughts {
  width:8em;
  position:relative;
  top:23em;
  left:-24em;
  background-color: white;
  color: black;
}
.wordman {
  width:5em;
  position:relative;
  top:21em;
  left:9em;
  background-color: white;
  color: black;
}
.me {
  position: relative;
  left: 13.7em;
  top: -4em;
}
.round {
  background-color: white;
  border-radius: .3em, .3em, .3em, .3em;
  width: 50%;
}
.rounder {
  position:relative;
  top:-6em;
  background-color: white;
  border-radius: .3em, .3em, .3em, .3em;
  width: 44%;
}
div {
  width: 600px;
  margin: 5em auto;
  padding: 50;
  border-radius: 1em;
}
.willy {
  width: 250px;
  height: 320px;
}
.bart {
  width: 180px;
  height: 210px;
}
.bub1 {
  position:relative;
  top:2em;
  left:-15em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 310px;
  height: 250px;
  z-index:-1;
}
.bub2 {
  position: relative;
  left:2em;
  top:7em;
  width: 190px;
  height: 190px;
  z-index:-1;
}
.top {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  right: 65px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
a:link, a:visited {
  text-decoration: none;
}
@media (max-width: 700px) {
  body {
  }
  div {
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    padding: 1em;
  }
}
