body {
  background-image: url(../img/light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 2;
  padding: 2;
  font-family: Arial;
}
h1, h3, p, table {
  color: white;
  display:flex;
  justify-content: center;
}
table {
  border-style: dashed;
  display: block;
}
th, tr {
  font-size: 1.9em;
}
.round {
  background-color: white;
  border-radius: .3em, .3em, .3em, .3em;
  width: 50%;
}
.rounder {
  background-color: white;
  border-radius: .3em, .3em, .3em, .3em;
  width: 44%;
}
div {
  width: 600px;
  margin: 5em auto;
  padding: 50 px;
  border-radius: 1em;
}
img {
  width: 200px;
  height: 300px;
}
a:link, a:visited {
  text-decoration: none;
}
@media (max-width: 700px) {
  body {
  }
  div {
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    padding: 1em;
  }
}
